flask
joblib
pandas
scikit-learn
numpy
matplotlib        # For charts/plots
seaborn           # For advanced data visualization


Installed the requirements with:

pip install pandas scikit-learn matplotlib seaborn
